* {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
}
    .alert-info {
        /*padding: 10px;*/
        margin: auto;
        background-color: aquamarine;
        border: 5px solid lightgray;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    nav{
        width: 100%;
    }
    .nav-links {
        /*padding: 10px;*/
        margin: auto;
        border: 5px black;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    nav ul {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0;
        /*padding: 0;*/
        height: 100%
    }
    nav ul li{
        margin: 5px 0;
        /*padding: 3px;*/
        background-color: lightgray;
        width: 100%;
    }
    img{
        width: 100%;
    }
    h2{
       align-self: flex-start;
    }
    .sub-section{
        font-style: italic;
    }
    footer{
        align-self: flex-start;
    }









    @media screen and (min-width:992px) {

        .alert-info{
            display: none;
        }
        h1 {
            align-self: start;
        }
        nav{
            float: right;
        }
        .nav-links {
            padding: 0;
            margin: 0;
            width: auto;
            align-self: flex-end;
            flex-direction: row;
        }
        nav ul li{
            background-color: white;
            justify-content: flex-end;
        }
        section {
            padding: 0;
            margin: 0;
            border: 0;
        }
        section#main.main {
            align-self: start;
            width: 50%;
        }
        section.sub-section{
            float: right;
            width: 30%;
        }
}



